div {
    margin: 0;
}
.body {
    display: flex;
    height: 100%;
    margin:0;
    padding: 0;
}
.menu {
    width: 2em;
    background:#222;
    position: absolute;
    transition: width 1s ease-in;
    height: 100%;
    display: flex;
    padding-right: 10px;
    font-size: 1em;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    /* padding: 10px; */
}
.menu:hover {
    width: 180px;
    padding-right: 0;
}
.menu:hover .items ul div {
    width: 180px;
}
.element {
    width:100%;
    margin: 0;
    padding: 0;
}
.items {
    padding-top: 20px;
    margin: 0;;
    height: 50%;
    overflow: hidden;
    display: flex;
}

.items ul li {
    font-size: 1.2em;
    list-style-type: none;
}

.items ul div {
    display: flex;
    flex-wrap: nowrap;
    color: white;
    /* font-family: fantasy; */
}
.items ul div li {
    margin-left:10px;
    display: none;
}

.items ul div:hover {
    background-color: grey;
}
.menu:hover {
    display: flex;
    /* justify-content: unset; */
}
.menu:hover .element li{
    display: block;
}
.items ul i{
    color: white;
    font-size: 1.2em;
    padding-left: 10px;
}

.main {
    margin-left:5em;
}

