div {
    margin: 0;
}
.body {
    display: flex;
    height: 100%;
}
.menu {
    width: 2em;
    background:#222;
    position: absolute;
    transition: width 1s ease-in;
    height: 100%;
}
.menu:hover {
    width: 180px;
}
.items {
    padding: 0;
    margin: 0;;
    height: 50%;
    overflow: hidden;
}

.items ul li {
    margin-bottom: 2px;
    font-size: 1.2em;
    list-style-type: none;
}

.items ul div {
    display: flex;
    flex-wrap: nowrap;
    color: white;
}
.items ul div:hover {
    background-color: grey;
}

.items ul i{
    color: white;
    font-size: 1.2em;
}

.main {
    margin-left:5em;
}
